<script src="/js/bad_head.js"></script>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>序号</th>
      <th>分类</th>
      <th>标题</th>
      <th>帖数</th>
      <th>作者</th>
      <th>更新</th>
    </tr>
  </thead>
  <tbody>
    <% list.each_with_index do |topic, i| %>
      <tr class=<%= "info" if i % 2 == 0 %>>
        <td><%=	 (i+1).to_s %></td>
        <td><%= link_to (topic.classname).to_s.truncate(8), "/category/#{topic.classname}",:title => topic.classname, :target => '_blank'  %></td>
        <td><%= link_to (topic.my_title).to_s.truncate(35), "/p/#{topic.id}/pu/1", :target => '_blank' %></td>
        <td><%= topic.mypostnum %> </td>
        <td><%= topic.author %></td>
        <td><small><%= topic.myupdatetime.to_s(:db) %></small></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
   <script src="/js/bad_relation.js"></script>
</div>
<script src="/js/bad_windows.js"></script>
