<% title "#{@topic.title} by #{@topic.author}.第#{params[:page]}页" %>

<h4 class="round2 back"><%=	 @topic.title%></h4>
<p>
<span class="border">[<%= link_to '回目录', p_path(@topic), :target => '_blank', :class => 'red' %>]  </span>
<span class="border">作者：<%= link_to @topic.author, author_path(@topic.author), :target => '_blank' %>  </span>
<span class="border">内容不完整？：<%= link_to '现在更新', renew_p_path(@topic.id), method: :put, :target => '_blank', :class => 'red' %></span>
<span class="border">查看原贴：<%= link_to '打开原贴', @topic.fromurl,  :target => '_blank' %></span>
<span class="border">文章类别：<%= link_to @topic.classname, category_path(@topic.classname),  :target => '_blank' %></span>
<span class="border">共计<%=  @topic.mypostnum  %>回复/<%=  @topic.mypagenum  %>页</span>
<span class="border"><%= link_to  "下载文件", download_path(@topic.id) ,  :target => '_blank'%></span>
</p>

<section class="cai-post-list round">

<%= paginate @page_urls, :outer_window => 4, :inner_window => 4 -%>
  <table>
  <tbody>
   <% if !@posts.blank? %>
      <% @posts.each do |p| %>
      <tr>
        <td class="right small">
          <span class="border"><%= p.post_at.strftime("%Y-%m-%d %H:%M:%S") if p.post_at %></span>
          <span class="border"><%= p.my_level %>楼(<%= p.level %>)</span>
      </tr>
      <tr>
        <td class="content round">
          <p><%= raw p.content  %></p>
          <% if p.my_level == 1 %>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-0525832019389819";
/* 长文字链接 */
google_ad_slot = "8375564846";
google_ad_width = 728;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
          <% end %>

        </td>
      </tr>
      <% end %>
  <% else %>
      <tr>
        <td style="color: red;">
          <div style="margin-top:25px;" ><%= raw message %></div>
          </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @page_urls, :outer_window => 4, :inner_window => 4 -%>
</section>
<div>
  <h4>相关阅读</h4>
  <% if @temp_topics && @temp_topics.length > 0 %>
    <ul>
    <% @temp_topics.each do |t| %>
        <li><%= link_to t.title, "/p/#{t.id}", :target => '_blank', :class => "blue" %></li>
    <% end %>
    </ul>
  <% end %>

</div>
<% if @topic.section_id == 1 %>
<script type="text/javascript">
  //破防盗链js
function ImgRebuild() {
	$(".content p img").each(function(i){
		url = this.src;
		width = this.width;
		height = this.height;
		var imgid = Math.random(),
		frameid = 'frameimg' + imgid;
		window['img'+imgid] = '<img id="img" src=\''+url+'?kilobug\' /><script>window.onload = function() { parent.document.getElementById(\''+frameid+'\').height = document.getElementById(\'img\').height+\'px\'; }<'+'/script>';
		img_r = '<iframe id="'+frameid+'" src="javascript:parent[\'img'+imgid+'\'];" frameBorder="0" height="' +height+ '" scrolling="no" width="100%"></iframe>';
		$(this).replaceWith(img_r);
	});
	return '';
}
ImgRebuild();
</script>
<% elsif  @topic.section_id == 2 %>
<script type="text/javascript">
  //天涯 -
function ImgRebuild() {
	$(".content p img").each(function(i){
        if ($(this).attr("original") != "")
        {
            this.src = $(this).attr("original");
            $(this).removeAttr("height");
        }

	});
	return '';
}
ImgRebuild();
</script>
<%	 end %>