<% title "#{@topic.my_title} by #{@topic.author}.第#{params[:page]}页" %>

<%
  breadcrumb :tb_detail, @topic if @topic.section_id == 1
  breadcrumb :tysq_detail, @topic if @topic.section_id == 2
  breadcrumb :dbht_detail, @topic if @topic.section_id == 3
  meta :title => @topic.my_title ,
    :description => "#{ @topic.my_title}_脱水版本,作者:#{ @topic.author},第#{params[:page]}页" ,
  :keywords => @topic.author

%>
<div class="container">

  <h1 class="round2 back"><%=	 @topic.my_title%></h1>
  <div id="myad960" class="ggw960">
     <script src="/js/bad_head.js"></script>
  </div>
  <p>
  <span class="border">[<%= link_to '回目录', p_path(@topic), :target => '_blank', :class => 'red' %>]  </span>
  <span class="border">作者：<%= link_to @topic.author, author_path(@topic.author), :target => '_blank' %>  </span>
  <span class="border">文章类别：<%= link_to @topic.classname, category_path(@topic.classname),  :target => '_blank' %></span>
  <span class="border">共计<%=  @topic.mypostnum  %>回复/<%=  @topic.mypagenum  %>页</span>
  <span class="border">内容不完整？：<%= link_to '现在更新', renew_p_path(@topic.id), method: :put, :target => '_blank', rel: "nofollow", :class => 'red' %></span>
  <span class="border">查看原贴：<%= link_to '打开原贴', @topic.fromurl,  :target => '_blank' %></span>
  <span class="border"><%= link_to "赞" , top_p_path(@topic.id),  title: "#{@topic.top}", remote: true, "data-type" => :json, rel: "nofollow",  :id => "ajax_top"  %></span>
  <span class="border" id="num" style="display: none"></span>


  </p>
  <div class="row">

    <div class="col-xs-12">

      <%#=	 render 'page_list' %>
      <%= paginate @page_urls, :outer_window => 1, :inner_window => 1 -%>
      <% if !@posts.blank? %>
        <% @posts.each do |p| %>

          <div class="text-right small">
            <span><%= p.post_at.strftime("%Y-%m-%d %H:%M:%S") if p.post_at %></span>
            <span><%= p.my_level %>楼(<%= p.level %>)</span>
          </div>
          <div class="content round" style="word-break:break-all;overflow:hidden;">
            <%= raw p.content  %>
            <% if p.my_level == 1 %>
              <div id="myad728" class="ggw728">
                <script src="/js/bad_1lou.js"></script>
              </div>
            <% end %>
          </div>

        <% end %>
      <% else %>
        <div style="color: red; margin-top:25px;" ><%= raw message %></div>
      <% end %>
      <%#=	 render 'page_list' %>
      <%= paginate @page_urls, :outer_window => 1, :inner_window => 1 -%>
    </div>

    <div>
      <h4>相关阅读</h4>
      <script src="/js/bad_relation.js"></script>
      <% if @temp_topics && @temp_topics.length > 0 %>
        <ul>
          <% @temp_topics.each do |t| %>
            <li><%= link_to t.my_title, "/p/#{t.id}/pu/1", :target => '_blank', :class => "blue" %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
<script src="/js/some_cad.js"></script>
 <% if @topic.section_id == 1 %>
  <script src="/js/bd_1_img.js"></script>
<% elsif  @topic.section_id == 2 %>
  <script src="/js/ty_2_img.js"></script>
<%	end %>
<script src="/js/bad_xuanfu.js"></script>
