<p id="notice"><%= notice %></p>


<p>
  <b>Title:</b>
  <%= @topic.title %>
</p>
<p>
  <b>MyTitle:</b>
  <%= @topic.my_title %>
</p>
<p>
  <b>Classname:</b>
  <%= @topic.classname %>
</p>

<p>
  <b>Author:</b>
  <%= @topic.author %>
</p>
<p>
  <b>top:</b>
  <%= @topic.top %>
</p>
<p>
  <b>status:</b>
  <%= @topic.status %>
</p>


<%= link_to 'Edit', edit_admin_topic_path(@topic) %> |
<%= link_to 'Back', admin_topics_path %>
