<%- title "tuoshuiba.com" -%>

<header>
  <h1>帖子脱水工具</h1>
  <p>
   <%= link_to '本站', root_url %>主要为方便阅读
    <%= link_to '天涯社区', root_path, :class => 'nav' %>
    <%= link_to '百度贴吧', tb_path, :class => 'nav' %>
    <%= link_to '豆瓣话题', root_path, :class => 'nav' %>，本站内容归发帖人和原站所有。
  </p>
</header>

<section class="home">
<h2>输入网址查找；或在本站内查找相关内容。</h2>
<div id="fm">
  <%= form_tag("/search", :method => "get") do %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("脱水一下", :class => "su") %>
  <% end %>
</div>

  <ul class="sm">
    <li>输入<em>天涯社区</em>贴地址如：http://www.tianya.cn/publicforum/content/free/1/2089720.shtml</li>
    <li>输入<em>百度贴吧</em>帖地址如：http://tieba.baidu.com/p/510079795</li>
    <li>输入<em>豆瓣话题</em>贴地址如：http://www.douban.com/group/topic/26090452/</li>
  </ul>

  <h2><%= link_to '站内博客', blog_url %></h2>
  <p><%- if @recent_post -%>最新文章:</p>
  <article>
    <header>
      <h3><%= link_to @recent_post.title, @recent_post %></h3>
      <p> <time datetime="<%= @recent_post.published_at.as_json %>"><%= post_published_time_in_words @recent_post %></time><%= post_tags_html(@recent_post) %></p>
    </header>
    <%= post_excerpt(@recent_post) %>
    <p class="more"><%= link_to 'Read more &raquo;'.html_safe, blog_url %></p>
  </article>
  <%- else -%><p></p><%- end -%>

</section>

<footer>
  <p>Copyright &copy; 2011 <%= link_to '脱水吧 - 中国第一在线采集工具', root_url, :rel => 'home' %></p>
</footer>
