<%- title "只看楼主" -%>

<header>
  <div id="a1">
    <div id="topall">
    <span class="top_left">当前位置：乐哈网脱水吧</span>
    <span class="top_right">收藏</span>
    </div>
    <div id="top">
    <a class="logo" href="/">乐哈子</a><br>
    <span>阅读热贴的好工具</span>
    </div>
    <div id="top-center">

    </div>
    <div id="search" >
      <form action="<%= search_path %>"  method = "get"   target = "_blank">
      <%= submit_tag("搜索", :class => "su") %>
      <%= text_field_tag(:q , '', :class => "q")  %>
      </form>
    <span>输入天涯社区、豆瓣小组、百度贴吧网址，点击搜索，阅读脱水文章。</span>
    </div>
  </div>
</header>
<div class="blank10"></div>
<section class="home clearfix">
    <div id="nav">
      <div>
        <ul>
          <li class="current-menu-item"><a title="乐哈网" href="">首页</a></li>
          <li><a title="乐哈网" href="/recent">最新</a></li>
          <li><a title="热门列表" href="/hot">热门</a></li>
          <li><a title="最新更新" href="/active">新更</a></li>
          <li><a title="天涯" href="/tysq">天涯</a></li>
          <li><a title="贴吧" href="/tb">贴吧</a></li>
          <li><a title="豆瓣" href="/dbht">豆瓣</a></li>


        </ul>
      </div>
    </div>
    <div id="left">
      <div id="solehazi">
        <span>关注本站微博：<a href="http://t.qq.com/lehazi" target="_blank">http://t.qq.com/lehazi</a></span>
      </div>
      <div id="forum_nav">
        <h3>板块推荐</h3>
        <ul>
        <% @classes.each do |c| %>
           <li>
            <%=  link_to  truncate(c.classname, :length => 12, :omission => '..') , category_path(c.classname), :target => '_blank' %>
             <span class="gray"><%= c.count %></span>
          </li>
        <% end %>
        </ul>
        <h3><a href="/class" target="_blank">板块导航>></a></h3>
      </div>
      <div id="show_list">
        <h3>网友推荐贴</h3>
        <%- if @re_topics -%>
          <ul>
            <% @re_topics.each do |t| %>
            <li>
              <%=	 link_to t.my_title, p_pu_path(t, 1), :class => 'border' %>
              <%= t.author %>

            </li>
            <%  end %>
          </ul>
        <%- end -%>
      </div>

    </div>
    <div id="right">
      <div class="title mb7">
	      <h3>最新脱水</h3>
	      <span><a href="/recent">查看全部&gt;&gt;</a></span></div>
          <%- if @topics -%>
          <ul>
            <% @topics.each do |t| %>
            <li>
              <%=	 link_to t.my_title.truncate(16, :omission => '.') , p_pu_path(t, 1), title: t.title %>
            </li>
            <%  end %>
          </ul>
          <%- end -%>

    </div>
</section>
<div class="blank10"></div>
<footer>
  <p class="link">友情链接：
    <%	 @links.each do |f| %>
      <%= link_to f.name, f.url, :target => '_blank', :class => 'border' %>
    <%	 end %>
  </p>
  <p>Copyright &copy; 2011-2012 <%= link_to '乐哈网 脱水吧', root_url, :rel => 'home' %>
  | <%= link_to '联系我们', contact_url, target: '_blank' %>
  </p>
</footer>
