<%- title "只看楼主" -%>
<div id="container" class="index_bg">
<div id="content">

  <div class="title_r">
    <%= breadcrumb :pretext => '当前位置: ',
       :separator => ">",
       :autoroot => true,
       :show_root_alone => true,
       :link_last => false %>
  </div>
  <div class="index_view">
    <%- if @topics -%>
        <ul>
          <% @topics.each do |t| %>
            <li><%=	 link_to t.title, p_pu_path(t, 1) , :class => 'blue' %>
              <span style="margin-left: 1em;">[<%= link_to  t.classname.truncate(8), category_path(t.classname)  %>]</span></li>
          <%  end %>
        </ul>
    <%- end -%>
  </div>
</div>
<div id="sidebar">
  <div class="title"><h3>站内日志</h3></div>
  <div class="friend_group" id="related_div">
      <%- if @recent_posts -%>
      <ul>
        <% @recent_posts.each do |t| %>
        <li>
          <%= link_to t.title, t, :target => '_blank', :class => "blue" %>
        </li>
        <%  end %>
        <p class="more"><%= link_to '更多文章 &raquo;'.html_safe, blog_url, :target => '_blank' %></p>
      </ul>
      <%- else -%><p></p><%- end -%>
  </div>
</div>
</div>
