<%- if @fun -%>
<%- title @fun.title -%>
<% breadcrumb :fun_list, @fun %>
<% meta :description =>  fun_description(@fun), :keywords =>  fun_tags_keyword(@fun) , :title => @fun.title %>

<div id="container" class="index_bg">
<div id="content">
  <div class="title_r">
    <%= breadcrumb :pretext => "<label>当前位置：</label>",
       :separator => ">",
       :autoroot => true,
       :show_root_alone => true,
       :link_last => false %>
  </div>
  <div class="page_view">
    <%= render @fun -%>
    <hgroup><%=	 raw ad_fun_blog_left_down %></hgroup>
    <nav class="posts">
    <ul>
      <li class="previous">
        <%- previous_fun = @fun.previous; if previous_fun -%>
        <%= link_to "&larr; #{previous_fun.title}".html_safe, previous_fun  %>
        <%- else -%>
        <span class="gray">这是第一篇</span>
        <%- end -%>
      </li>
      <li class="next">
         <%- next_fun = @fun.next; if next_fun -%>
         <%= link_to "#{next_fun.title} &rarr;".html_safe, next_fun  %>
         <%- else -%>
         <span class="gray">这是最新的</span>
         <%- end -%>
      </li>
    </ul>
  </nav>
  </div>
</div>
<div id="sidebar">

  <div class="title"><h3>相关内容推荐</h3></div>
  <div class="friend_group" id="related_div">
	<ul id="related1" style="">
    <% @relation_funs.each do |fun| %>
    <li class="col" ><em>·</em> <%= link_to fun.title, fun ,:target => '_blank', :title => fun.title %>
    </li>
    <%	 end %>
    </ul>
</div>
</div>
</div>


<%- else -%>
<%- title '文章不存在' -%>
<p>内容被移走，这里什么都没有了。</p>
<%- end -%>
