<% title "#{@topic.title} by #{@topic.author}.第#{params[:page]}页,脱水整理." %>

<div id="container" class="index_bg">
<div id="content">
  <div class="title_r">
    <%= breadcrumb :pretext => '',
       :separator => ">",
       :autoroot => true,
       :show_root_alone => true,
       :link_last => false %>
  </div>
  <div class="page_view">
    <div class="ta_c mt10 mb10 f16"><b><%= @topic.title  %></b></div>
        <%= paginate @posts, :outer_window => 1, :inner_window => 1 -%>
        <%	 if @posts && @posts.length > 0 %>
            <%	 @posts.each do |p| %>
                <p><%=	 raw p.content %></p>
            <%	 end %>
        <%	 end %>
    <p>
      <span class="left">分享到：微博</span>
      <a class="right ml10" title="复制链接" href="javascript:void(0);">复制链接</a>
    </p>
    <%= paginate @posts, :outer_window => 1, :inner_window => 1 -%>

    <div class="blank20"></div>
  </div>
</div>
<div id="sidebar">
  <div class="title mb7"><h3>文章说明</h3></div>
  <div class="tool_list">
    <ul>
    <li>作者：<i><%= @topic.author %></i></li>
    <li>分类：<i><%= @topic.classname %></i></li>
    <li>回复：约<i><%= @topic.mypostnum %></i>条</li>
    <li>更新：<i><%= @topic.updated_at %></i></li>
    <li>服务：<i><%= link_to '自助更新', renew_p_path(@topic.id), method: :put, title: '系统将定时更新', :target => '_blank' %></i>
            <i><%= link_to '打开原贴', @topic.fromurl, title: '去源地址查看', :target => '_blank' %></i>
    </li>
    </ul>
  </div>
  <div class="blank20"></div>
  <div class="title"><h3>相关内容推荐</h3></div>
  <div class="friend_group" id="related_div">
     <% if @temp_topics && @temp_topics.length > 0 %>
        <ul id="related1">
        <% @temp_topics.each do |t| %>
            <li><em>·</em><%= link_to t.title,  "/p/#{t.id}/pu/1", title: "#{t.title}", :target => '_blank', :class => "blue" %></li>
        <% end %>
        </ul>
      <% end %>
</div>
</div>
</div>

