<h2>
    采集页情况
</h2>
<p>
<table>
  <tbody>
    <tr>
      <th>状态</th>
      <th>数量</th>
    </tr>
  <% if @page_status && @page_status.length > 0 %>
    <%	 @page_status.each do |p| %>
      <tr>
        <td><%= p.status %></td>
        <td><%= p.count %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
</p>
<h2>
  采集任务
</h2>
<%= link_to '新建采集任务', new_admin_report_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Topic num</th>
    <th>Page num</th>
    <th>Pagenot num</th>
    <th>Tieba num</th>
    <th>Douban num</th>
    <th>Tianyabbs num</th>
    <th>note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reports.each do |report| %>
  <tr>
    <td><%= report.name %></td>
    <td><%= report.topic_num %></td>
    <td><%= report.page_num %></td>
    <td><%= report.pagenot_num %></td>
    <td><%= report.tieba_num %></td>
    <td><%= report.douban_num %></td>
    <td><%= report.tianyabbs_num %></td>
    <td><%= report.note %></td>
    <td><%= link_to 'Show', [:admin, report] %></td>
    <td><%= link_to 'Edit', edit_admin_report_path(report) %></td>
    <td><%= link_to 'Destroy', [:admin,  report], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Report', new_admin_report_path %>

<br />
<p>
  <table>
    <tbody>
          <tr>
      <th>序号</th>
      <th>编号</th>
      <th>未采集页</th>
    </tr>

      </tbody>
</table>
</p>