<%= form_for([:admin, @easy_cai]) do |f| %>
  <% if @easy_cai.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@easy_cai.errors.count, "error") %> prohibited this cai from being saved:</h2>

      <ul>
      <% @easy_cai.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :section_id %><br />
    <%= f.number_field :section_id %>
  </div>
  <div class="field">
    <%= f.label :rule_id %><br />
    <%= f.number_field :rule_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url_address %><br />
    <%= f.text_field :url_address %>
  </div>
  <div class="field">
    <%= f.label :paixu %><br />
    <%= f.number_field :paixu %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
