<%- if @post -%>
<%- title @post.title -%>
<% breadcrumb :post, @post %>
<% meta :description =>  post_description(@post), :keywords =>  post_tags_keyword(@post) , :title => @post.title %>

<div id="container" class="index_bg">
<div id="content">
  <div class="title_r">
    <%= breadcrumb :pretext => "<label>当前位置：</label>",
       :separator => ">",
       :autoroot => true,
       :show_root_alone => true,
       :link_last => false %>
  </div>
  <div class="page_view">
    <%= render @post -%>
    <hgroup>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-0525832019389819";
/* 长文字链接 */
google_ad_slot = "8375564846";
google_ad_width = 728;
google_ad_height = 15;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</hgroup>
    <nav class="posts">
    <ul>
      <li class="previous">
        <%- previous_post = @post.previous; if previous_post -%>
        <%= link_to "&larr; #{previous_post.title}".html_safe, previous_post  %>
        <%- else -%>
        <span class="gray">这是第一篇</span>
        <%- end -%>
      </li>
      <li class="next">
         <%- next_post = @post.next; if next_post -%>
         <%= link_to "#{next_post.title} &rarr;".html_safe, next_post  %>
         <%- else -%>
         <span class="gray">这是最新的</span>
         <%- end -%>
      </li>
    </ul>
  </nav>
  </div>
</div>
<div id="sidebar">
  <div class="title mb7"><h3>分类标签</h3></div>
        <div class="tags clearfix">
        <% tag_cloud @tags, %w(nube1 nube2 nube3 nube4 nube5) do |tag, css_class| %>
        <%= link_to tag.name, tag, :class => css_class %>
        <% end %>
        </div>
  <div class="blank10"></div>
  <div class="title"><h3>相关内容推荐</h3></div>
  <div class="friend_group" id="related_div">
	<ul id="related1" style="">
		<li class="col" ><em>·</em><a href="/blog">暂无</a></li>
	</ul>
</div>
</div>
</div>


<%- else -%>
<%- title '文章不存在' -%>
<p>内容被移走，这里什么都没有了。</p>
<%- end -%>
