<header>
   <%= link_to logo, root_path %>
  <div class="head_search">
    <nav>
        <ul id="menu0">
            <li onclick="setTab(0,0)" class="hover">百度贴吧</li>
            <li onclick="setTab(0,1)" class="">天涯社区</li>
            <li onclick="setTab(0,2)" class="">豆瓣脱水</li>
        </ul>
    </nav>
    <div class="Nmain fixed" id="main0">
        <ul class="block" style="display: block; ">
            <li>
                <%= render 'articleurls/form' %>
            </li>
        </ul>
        <ul style="display: none; ">
            <li>
                <%= render 'articleurls/tyform' %>
            </li>
        </ul>
        <ul style="display: none; ">
            <li>
              <%= render 'articleurls/dbform' %>
            </li>
        </ul>
    </div>
    <div class="nav">
    <span ><%= link_to '只看贴吧', tb_path	  %></span>
    <span><%= link_to '天涯易读', ty_path	  %></span>
    <span><%= link_to '豆瓣脱水', doutie_path	  %></span>
  </div>
  </div>
</header>