<%- content_for :pre_content do -%>
<header>
  <div id="search">
      <form action="<%= search_path %>"  method = "get"   target = "_blank">
      <%= text_field_tag(:q , '', :class => "q")  %>
      <%= submit_tag("", :class => "su") %>
      </form>
  </div>
<h1><%=	 link_to 'Lehazi.com', root_path %></h1>



</header>
<section  style="background: #ffffff">

  <div id="nav">
      <div>
        <ul>
          <%= raw topmenu.join %>
        </ul>
      </div>
    </div>
<hgroup class="round" style="background: #ffffff">
<%= breadcrumb :pretext => "<label>当前位置：</label>",
           :separator => "»",
           :autoroot => true,
           :show_root_alone => true,
           :link_last => false %>
</hgroup>

<%- end -%>
<%- content_for :post_content do -%>
</section>
<footer>
  <p>Copyright &copy; 2011-2012 <%= link_to '脱水吧 - 中国第一在线采集工具', root_url, :rel => 'home' %>
</footer>
<%- end -%>
<%= render :file => "layouts/abstract" -%>