<%- content_for :pre_content do -%>
<header>
  <div id="search">
      <form action="<%= search_path %>"  method = "get"   target = "_blank">
      <%= text_field_tag(:q , '', :class => "q", value: "输入天涯社区、贴吧文章、豆瓣网址")  %>
      <%= submit_tag("", :class => "su") %>
      </form>
  </div>
<h1><%=	 link_to 'Lehazi.com', root_path %></h1>
</header>
<section  style="background: #ffffff">
  <div id="nav">
      <div>
        <ul>
          <%= raw topmenu.join %>
          <li id="menu-cai" style="float: right; margin-right: 1em;">
          <%=	 link_to '采集入口>>', "/easy_cai/index", target: '_blank', rel: "nofollow", :title => '采集入口', method: :put %>
          </li>
        </ul>
      </div>
    </div>
<hgroup class="round" style="background: #ffffff">
<%= breadcrumb :pretext => "<label>当前位置：</label>",
           :separator => "»",
           :autoroot => true,
           :show_root_alone => true,
           :link_last => false %>
</hgroup>

<%- end -%>
<%- content_for :after_content do -%>
</section>
<footer>
  <p>Copyright &copy; 2011-2012 <%= link_to '脱水吧 - 中国第一在线采集工具', root_url, :rel => 'home' %>
  | <%= link_to '联系我们', contact_url, target: '_blank' %>
</footer>
<%- end -%>
<%= render :file => "layouts/abstract" -%>