<%- content_for :pre_content do -%>
<div id="head" class="head">
    <div id="t">
      <div id="topall">
      <span class="top_left">
        <%= breadcrumb :pretext => "当前位置：",
           :separator => ">",
           :autoroot => true,
           :show_root_alone => true,
           :link_last => false %>
      </span>
      <span class="top_right addcollect">收藏</span>
      </div>
    </div>
  <div id="a1" class="logo">
    <div id="top">
    <a class="logo" href="/"><cite>369脱水吧<br>阅读热贴的好工具 只看楼主</cite></a><br>
    <span style="display:none"></span>
    </div>
    <div id="top-center">

    </div>
    <div id="search" >
      <form action="<%= search_path %>"  method = "get"   target = "_blank">
      <%= submit_tag("搜索", :class => "su") %>
      <%= text_field_tag(:q , '', :class => "q")  %>
      </form>
    <span>输入天涯社区、豆瓣小组、百度贴吧网址，点击搜索，阅读脱水文章。</span>
    </div>
  </div>
</div>
  <div id="nav">
    <div class="lable">
        <ul>
          <%= raw topmenu.join %>
        </ul>
    </div>
  </div>
<div id="main" class="main">


<%- end -%>
<%- content_for :after_content do -%>
</div>
<div id ="footer" class="footer">
  <p>Copyright &copy; 2014 <%= link_to '369脱水吧', root_url, :rel => 'home' %>
  | <%= link_to '联系我们', contact_url, target: '_blank' %>
  </p>
</div>
<%- end -%>
<%= render :file => "layouts/abstract" -%>
